@model IEnumerable<Extension>
@{
    ViewBag.Title = "Extensions";
}
<h2 class="section-header">
    Extensions from the community
</h2>
    
<div id="grid-container" class="container_12">
    
    <div class="grid_12">
        <div class="note">
            Got a cool extension for Ninject that you want to share? Let us know, and we'll list it here.
        </div>
    </div>
    <div class="grid_12">
    @foreach (var extension in Model)
    {
        <h3>@extension.Name</h3>
        <p>
            @(new HtmlString(extension.Description))
        </p>
        <ul>
            <li>
                <strong>Author:</strong>
                @if (extension.Author.Email == null)
                {
                     @extension.Author.Name
                }
                else
                {
                    <a href="mailto:@extension.Author.Email">@extension.Author.Name</a>
                }
            </li>
            <li>
                <strong>Website:</strong>
                <a href="@extension.Website">@extension.Website</a>
            </li>
        </ul>
    }
    
        
    </div>

</div>
